{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
  "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
  "no-console": ["warn"],
  "react/prop-types": 0,

  }
}
