.big-msg {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__title {
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    width: 100%;
    text-align: center;
    @include rainbow;
    letter-spacing: 2.5px;
    padding-bottom: 6px;
    padding-top: 8px;
    margin-bottom: 20px;
    line-height: 1.2em;
    transition: opacity 1000ms ease-out;
    opacity: 1;
  }

  &__btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    width: 100%;
    text-align: center;
    @include rainbow;
    letter-spacing: 2.5px;
    font-size: 1em;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid Lime;
    width: 220px;
    margin-top: 40px;
    text-align: center;

    &:hover, &:focus, &:active {
      box-shadow: 0 0 20px Lime;
    }


  }
}
