.col {
  padding: 10px;
  &--wide {
      margin: 0 20px;
      width: 60%;
      display: flex;
      flex-direction: column;
        @media(max-width: 600px) {
          width: 100vw;
          margin: 0;
          padding: 20px;
        }
    }
  &--narrow {
    width: 20%;
      @media(max-width: 600px) {
    display: none;
  }
  }
}


.info {

  &__container {
    display: flex;
  }

  &__col-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__col {
    width: 100%;

  }

  &__controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    min-height: fit-content;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    &--bottom {
      @media (max-height: 740px) {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__hearts {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
  }

  &__heart {
    width: 100%;
    max-width: 20px;
    height: auto;

  }

  &__heart-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    &:first-child {
      align-items: left;
      justify-content: flex-start;
      min-width: 80px;
    }
  }

  &__subhead {
    text-transform: uppercase;
    text-align: center;
    font-family: 'G7 Silkworm TTF';
    // border: 1px solid Lime;
    @include rainbow;
    font-size: 1.5em;
    line-height: 1em;
    min-height: fit-content;
    padding: 10px;
    margin-right: 30px;
    @media (max-width: 600px) {
      margin-right: 0;
    }
  }

  &__icons-wrap {
    padding: 10px;
    min-height: fit-content;
    @media (max-width: 600px) {
      display: flex;
      justify-content: center;
    }
  }

  &__icon {
    margin-right: 10px;
    text-decoration: none;
    &:last-child {
      align-self: flex-end;
      & .icon {

      }
    }
  }

  &__hero-title, .entity__title {
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    width: 100%;
    text-align: center;
    @include rainbow;
    letter-spacing: 2.5px;
    border-bottom: 1px solid Lime;
    border-top: 1px solid Lime;
    padding-bottom: 6px;
    padding-top: 8px;
    margin-bottom: 20px;
    line-height: 1.2em;
    transition: opacity 1000ms ease-out;
    opacity: 1;

    &--margin {
      margin-top: 21px;
    }

    &--team {
      min-height: 0;
    }

  }

}

.hidden {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.spin {
  -webkit-animation:spin .5s linear 5;
    -moz-animation:spin .5s linear 5;
    animation:spin 1s linear 5;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); opacity: 1;} }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); opacity: 0;} }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); opacity: 1;} }


.rightCol {
  background: white;
}

.card-pic-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: auto;

}

.card-pic {
  width: 80%;
  max-width: 200px;
  height: auto;
  margin: auto;

  &--round {
    border-radius: 100%;
    border: 1px solid Lime;
  }
}

.leftCol {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rightCol {
  padding: 20px;
  width: 100%;
  background: black;
  min-width: 300px;
}

.hero {

  &__level {
    font-weight: 700;
    color: white;
    margin-top: -5px;
    text-align: center;
  }

  &__team--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__powers {
    font-size: .9em;
  }

  &__team--item {
    margin-right: 10px;
  }

  &__team--item-attack {
    text-align: center;
  }

  &__team--item-image img {
    width: 32px;
    height: auto;
    border-radius: 100%;
    border: 1px solid Lime;
  }

  &__team {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }

  &__stats {
    text-align: center;
  }

  &__aliases {
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__attack {
     text-align: left;
     margin: -5px 0 10px;
    }

  &__xp {
    display: flex;
    align-items: center;
  }

  &__xp-text {
    margin-right: 5px;
  }

  &__xp-slider {
    width: 100%;
    height: 10px;
    border: 1px solid Lime;
    background-color: transparent;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 8px;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojRTYwNUMxOyIgLz48c3RvcCBvZmZzZXQ9IjE1JSIgc3R5bGU9InN0b3AtY29sb3I6I0FENzlGQzsiIC8+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiM4MDZCRjc7IiAvPjxzdG9wIG9mZnNldD0iNDUlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDlFNkU2OyIgLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3R5bGU9InN0b3AtY29sb3I6IzE0RTYwOTsiIC8+PHN0b3Agb2Zmc2V0PSI3NCUiIHN0eWxlPSJzdG9wLWNvbG9yOiNGRkZGMDA7IiAvPjxzdG9wIG9mZnNldD0iODglIiBzdHlsZT0ic3RvcC1jb2xvcjojRkY4QzAwOyIgLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3R5bGU9InN0b3AtY29sb3I6I0ZGMDAwMDsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
      background-image: -webkit-gradient(linear, left top, -45deg, color-stop(0%, #E605C1), color-stop(15%, #AD79FC), color-stop(30%, #806BF7), color-stop(45%, #09E6E6), color-stop(60%, #14E609), color-stop(74%, #FFFF00), color-stop(88%, #FF8C00), color-stop(99%, #FF0000));
      background-image: -moz-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
      background-image: -webkit-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
      background-image: -o-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
      background-image: -ms-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
      background-image: linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
      display:inline-block; /*required*/
    }
  }
}

.entity {
  &__healthBoost, &__attack {
    color: white;
      font-weight: 700;
      margin-bottom: 15px;
    }
}

.message {
  max-height: 45vh;
  overflow-y: hidden;

  &__list {
    list-style-type: none;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid Lime;

  }
  &__item {
    margin-bottom: 10px;

    &:first-child {
      opacity: 1;
    }

    &:nth-child(2) {
      opacity: .9;
    }

    &:nth-child(3) {
      opacity: .8;
    }

    &:nth-child(4) {
      opacity: .7;
    }

    &:nth-child(5) {
      opacity: .6;
    }

    &:nth-child(n+6) {
      opacity: .5;
    }
  }
}

.ctrl-icon {
  color: white;
  font-size: 1.3em;
  margin-top: 5px;
  padding: 0 2px;
  border: 1px solid transparent;
  &:hover {
    color: Lime;
  }
}