.col {
  padding: 10px;
  &--wide {
      margin: 0 20px;
      width: 60%;
    }
}


.info {

  &__container {
    display: flex;
  }

  &__col-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__col {
    width: 100%;

  }

  &__hearts {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
    justify-content: center;
  }

  &__heart {
    width: 100%;
    max-width: 20px;
    height: auto;

  }

  &__heart-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    &:first-child {
      align-items: left;
      justify-content: flex-start;
      min-width: 80px;
    }
  }

  &__subhead {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-family: 'G7 Silkworm TTF';
    border: 1px solid Lime;
    @include rainbow;
  }

  &__subhead-wrap {
    background: black;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__hero-title, .entity__title {
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    width: 100%;
    text-align: center;
    @include rainbow;
    letter-spacing: 2.5px;
    border-bottom: 1px solid Lime;
    border-top: 1px solid Lime;
    padding-bottom: 6px;
    padding-top: 8px;
    margin-bottom: 20px;
    line-height: 1.2em;
    transition: opacity 1000ms ease-out;
    opacity: 1;

    &--margin {
      margin-top: 21px;
    }

    &--team {
      min-height: 0;
    }

  }

}

.hidden {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.spin {
  -webkit-animation:spin .5s linear 5;
    -moz-animation:spin .5s linear 5;
    animation:spin 1s linear 5;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.rightCol {
  background: white;
}

.card-pic-wrapper {
  display: flex;
  justify-content: center;
  // border-radius: 100%;
  // border: 1px solid gray;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: auto;
  // z-index: 2;
}

.card-pic {
  width: 80%;
  max-width: 200px;
  height: auto;
  margin: auto;
  // border-radius: 4%;
  //

  &--round {
    border-radius: 100%;
    border: 1px solid Lime;
  }
}

.leftCol {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rightCol {
  padding: 20px;
  width: 100%;
  background: black;
  min-width: 300px;
}

.hero {

  &__level {
    font-weight: 700;
    color: white;
    padding: 0 10px;
  }

  &__team--wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__powers {
    // color: lighten( #00FF00, 35%);
  }

  &__team--item {
    margin-right: 10px;
  }

  &__team--item-attack {
    text-align: center;
  }

  &__team--item-image img {
    width: 32px;
    height: auto;
    border-radius: 100%;
    border: 1px solid Lime;
  }

  &__team {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
  }

  &__stats {
    margin-top: 20px;
    text-align: center;
  }

  &__aliases {
    color: white;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__attack {
     text-align: left;
     margin-bottom: 10px;
    }
}

.entity__healthBoost {
  color: white;
    font-weight: 700;
    margin-bottom: 15px;
  }

.message {
  max-height: 45vh;
  overflow-y: hidden;

  &__list {
    list-style-type: none;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid Lime;

  }
  &__item {
    margin-bottom: 10px;

    &:first-child {
      opacity: 1;
    }

    &:nth-child(2) {
      opacity: .9;
    }

    &:nth-child(3) {
      opacity: .8;
    }

    &:nth-child(4) {
      opacity: .7;
    }

    &:nth-child(5) {
      opacity: .6;
    }

    &:nth-child(n+6) {
      opacity: .5;
    }
  }
}