.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;

  @include for-phone-landscape-up {
    padding: 20px;
  }

  &__container {
  margin: auto;
  background: black;
  padding: 20px;
  width: 100%;
  max-width: 1200px;

  &--narrow {
    max-width: 600px;
  }
  }

  &__instructions {
    padding-bottom: 20px;
    line-height: 1.3em;
  }

  &__btn-wrap {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;

    & .big-msg__btn {
      &:first-child {
         @include for-phone-landscape-up {
        margin-right: 20px;
      }
      }
    }
  }

  &__header {
    text-align: center;
  }

  &__title {
    display: inline-block;
    max-width: 300px;
    text-align: center;
    z-index: $z-index-front;
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    width: 100%;
    text-align: center;
    @include rainbow;
    letter-spacing: 2.5px;
    padding: 10px;
    margin: 0 auto;
    line-height: 1.2em;
    transition: opacity 1000ms ease-out;
    opacity: 1;

    &--wide {
      max-width: 100%;
    }
  }

  &__subhead {
    font-size: 1.5em;
    font-weight: 700;
    margin: 20px 0;
  }

  &__bold {
    font-size: 1.2em;
    margin: 30px 0 5px;
    color: white;
  }

  &__keys {
    display: flex;
    margin-top: 15px;
  }

  &__key-wrap {
    margin: 10px 30px 10px 0px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__key {
    text-align: center;
    padding: 5px 10px;
    margin-right: 5px;
    border: 1px solid Lime;
    border-radius: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    margin-right: 5px;

    &--c {
      border-radius: 100%;
      border: 1px solid Lime;
      margin-right: 5px;
    }
  }

  &__img-wrap {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -50px;
        left: -10px;
        width: 618px;
        height: 329px;
        background: black;
        transform: rotate(0deg);
        transform-origin: bottom center;
        transition: transform 2000ms linear;
      }
  }

  &__img {
    max-width: 100%;
    height: auto;
    position: relative;
    &::after {
      max-width: 120%;
    }

    &--reveal {
      &::after {
        content: '';
        position: absolute;
        top: -50px;
        left: -10px;
        width: 618px;
        height: 329px;
        background: black;
        transform: rotate(180deg) !important;
        transform-origin: bottom center;
        transition: transform 2000ms linear;
      }
    }
  }

  &__body {
    margin-top: 40px;
    z-index: $z-index-front;
  }

  &__btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    width: 100%;
    text-align: center;
    @include rainbow;
    letter-spacing: 2.5px;
    font-size: 1em;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid Lime;
    width: 220px;
    margin-top: 40px;
    text-align: center;
    z-index: $z-index-front;

    &:hover, &:focus, &:active {
      box-shadow: 0 0 20px Lime;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    display: flex;
    width: 100%;


    @include for-tablet-portrait-up {
      width: 47%;
    }

    @include for-tablet-landscape-up {
      width: 31%;
    }

    &--food {
      flex-direction: column;
      width: fit-content;
      display: inline-block;
    }
  }


  &__link {
    text-decoration: none;
    color: lighten(#00ff00, 40%);
    border-bottom: 1px dotted lighten(#00ff00, 40%);

    &:hover, &:focus, &:active {
      color: white;
      border-bottom: 1px dotted white;
    }

  }

  &__center {
    text-align: center;
  }

  &__avatar-wrap {
    width: 140px;
    flex-shrink: 0;

    &--multi {
      min-width: 140px;
      width: fit-content;
      display: flex;
      height: 100px;

      & img {
        width: 80px;
        height: auto;
      }
    }
  }

  &__text-wrap {
    line-height: 1.5em;

    &--right {
      text-align: right;
      padding-right: 20px;
      width: 100%;
    }
  }
}

#progress-wrap {
  width: 100%;
  height: 10px;
  border: 1px solid Lime;
  background-color: transparent;
  position: relative;
  }
#progress {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 8px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojRTYwNUMxOyIgLz48c3RvcCBvZmZzZXQ9IjE1JSIgc3R5bGU9InN0b3AtY29sb3I6I0FENzlGQzsiIC8+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiM4MDZCRjc7IiAvPjxzdG9wIG9mZnNldD0iNDUlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDlFNkU2OyIgLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3R5bGU9InN0b3AtY29sb3I6IzE0RTYwOTsiIC8+PHN0b3Agb2Zmc2V0PSI3NCUiIHN0eWxlPSJzdG9wLWNvbG9yOiNGRkZGMDA7IiAvPjxzdG9wIG9mZnNldD0iODglIiBzdHlsZT0ic3RvcC1jb2xvcjojRkY4QzAwOyIgLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3R5bGU9InN0b3AtY29sb3I6I0ZGMDAwMDsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, -45deg, color-stop(0%, #E605C1), color-stop(15%, #AD79FC), color-stop(30%, #806BF7), color-stop(45%, #09E6E6), color-stop(60%, #14E609), color-stop(74%, #FFFF00), color-stop(88%, #FF8C00), color-stop(99%, #FF0000));
  background-image: -moz-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: -webkit-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: -o-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: -ms-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  display:inline-block; /*required*/
}
