@font-face {
  font-family: 'Videophreak';
  src: url('fonts/Videophreak.eot');
  src: url('fonts/Videophreak.eot?#iefix') format('embedded-opentype'), url('fonts/Videophreak.woff') format('woff'), url('fonts/Videophreak.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'G7 Silkworm TTF';
  src: url('fonts/G7SilkwormTTF.eot');
  src: url('fonts/G7SilkwormTTF.eot?#iefix') format('embedded-opentype'),     url('fonts/G7SilkwormTTF.woff') format('woff'), url('fonts/G7SilkwormTTF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

////* MEDIA QUERIES *////

@mixin for-phone-landscape-up {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin for-phone-landscape-only {
  @media (min-width: 480px) and (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-portait-only {
  @media (min-width: 600px) and (max-width: 909px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 910px) {
    @content;
  }
}

@mixin for-tablet-landscape-only {
  @media (min-width: 910px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-desktop-only {
  @media (min-width: 1200px) and (max-width: 1799px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin rainbow {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojRTYwNUMxOyIgLz48c3RvcCBvZmZzZXQ9IjE1JSIgc3R5bGU9InN0b3AtY29sb3I6I0FENzlGQzsiIC8+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiM4MDZCRjc7IiAvPjxzdG9wIG9mZnNldD0iNDUlIiBzdHlsZT0ic3RvcC1jb2xvcjojMDlFNkU2OyIgLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3R5bGU9InN0b3AtY29sb3I6IzE0RTYwOTsiIC8+PHN0b3Agb2Zmc2V0PSI3NCUiIHN0eWxlPSJzdG9wLWNvbG9yOiNGRkZGMDA7IiAvPjxzdG9wIG9mZnNldD0iODglIiBzdHlsZT0ic3RvcC1jb2xvcjojRkY4QzAwOyIgLz48c3RvcCBvZmZzZXQ9Ijk5JSIgc3R5bGU9InN0b3AtY29sb3I6I0ZGMDAwMDsiIC8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgZmlsbD0idXJsKCNncmFkaWVudCkiIGhlaWdodD0iMTAwJSIgd2lkdGg9IjEwMCUiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, left top, -45deg, color-stop(0%, #E605C1), color-stop(15%, #AD79FC), color-stop(30%, #806BF7), color-stop(45%, #09E6E6), color-stop(60%, #14E609), color-stop(74%, #FFFF00), color-stop(88%, #FF8C00), color-stop(99%, #FF0000));
  background-image: -moz-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: -webkit-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: -o-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: -ms-linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  background-image: linear-gradient(-45deg,#E605C1 0%,#AD79FC 15%,#806BF7 30%,#09E6E6 45%,#14E609 60%,#FFFF00 74%,#FF8C00 88%,#FF0000 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
  display:inline-block; /*required*/
}

$color_gray_text: #7a7a7a;
$color_gray_lighter: lighten($color_gray_text,35%);


body {
  background: black;
  color: Lime;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
  @include for-tablet-landscape-up {
    flex-wrap: nowrap;
  }
}

.aria-button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-weight: inherit;
  cursor: pointer;

  &:hover, &:active, &:focus {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    cursor: pointer;
  }
  }

.info {

  &__container {
    display: flex;
  }

  &__subhead {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-size: 3em;
    font-family: 'G7 Silkworm TTF';
    border: 1px solid Lime;
    @include rainbow;
    @include for-tablet-landscape-up {
      font-size: 3vw;
    }
  }

  &__subhead-wrap {
    background: black;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  &__hero-title {
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    @include rainbow;
    letter-spacing: 2.5px;
    border-bottom: 1px solid Lime;
    padding-bottom: 6px;
    margin-bottom: 10px;
  }

}

.entity {
  &__title {
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    letter-spacing: 2.5px;
    border-bottom: 1px solid Lime;
    padding-bottom: 6px;
    text-align: center;
    margin: 0 auto 10px;
    line-height: 1.2em;
    opacity: 1;
    transition: opacity 1000ms ease-out;
    @include rainbow;
  }
}

.hidden {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.spin {
  -webkit-animation:spin .5s linear 5;
    -moz-animation:spin .5s linear 5;
    animation:spin 1s linear 5;
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.col, .info__col {
  padding: 20px;
}

canvas {
  margin: auto;
  background: hsl(0, 0%, 80%);
}

.rightCol {
  background: white;
}

.card-pic-wrapper {
  display: flex;
  justify-content: center;
  // border-radius: 100%;
  // border: 1px solid gray;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: auto;
  // z-index: 2;
}

.card-pic {
  width: 80%;
  height: auto;
  margin: auto;
  // border-radius: 4%;
  //

  &--round {
    border-radius: 100%;
    border: 1px solid Lime;
  }
}

.leftCol {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rightCol {
  padding: 20px;
  width: 100%;
  background: black;
  min-width: 300px;
}

.hero {
  &__team--wrapper {
    display: flex;
    flex-direction: row;
  }

  &__team--item {
    margin-right: 10px;
  }

  &__team--item-attack {
    text-align: center;
  }

  &__team--item-image img {
    width: 32px;
    height: auto;
    border-radius: 100%;
    border: 1px solid Lime;
  }

  &__team {
    padding: 20px 0;
  }
}

///// carousel styles /////

#carousel {
    height: 100vh; // was 200
    max-height: 600px;
    width: 600px;
    min-width: 600px;
    margin: auto;

    @include for-tablet-portrait-up {
      width: 98vw;
    }

}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-height: 480px;

  &:focus {
    outline: 0;
  }

  &__title {
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    @include rainbow;
    line-height: 1.1em;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
  }

  &__card {
    border: 1px solid Lime;
    background: black;
    padding: 20px;
    font-weight: 200;
    height: 100%;
    max-height: 480px;
    max-width: 320px;
  }

  &__aliases {
    margin: 10px 0;
    color: Lime;
  }

  &__card-pic {
    border-radius: 100%;
    border: 1px solid white;
    max-width: 80%;
  }

  &__card-pic-wrapper {
  }

  &__card-wrap {
    height: 416px;
    margin: auto;
  }

  &__wrap {
    height: 416px;
    margin: auto;
    position: relative;
  }


}

.level1 .carousel__stats, .level-1 .carousel__stats {
  font-size: .8em;
}

.level1 .carousel__card-pic, .level-1 .carousel__card-pic {
  max-width: 70%;
}

.level2 .carousel__stats, .level-2 .carousel__stats {
  font-size: .6em;
}

.level2 .carousel__card-pic, .level-2 .carousel__card-pic {
  max-width: 60%;
}



.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    line-height: 30px;
    margin-top: 85px;
    z-index: 1060;
    top: 73px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;

    &__icon {
      color: black !important;
      font-size: 20px;
    }
}

.arrow-right {
  left: 422px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid Lime;
  transition: border 300ms ease-in-out;

  &:hover, &:focus {
    border-left: 30px solid white;
  }
}

.arrow-left {
  left: -452px;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid Lime;
  transition: all 300ms ease-in-out;

  &:hover, &:focus {
    border-right: 30px solid white;
  }
}

.item {
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

$carousel-max: 98vw;
$carousel-min: 600px;

$level2-width: 225px;
$level2-height: $level2-width * 1.3; // 292.5px
$level1-width: 270px;
$level1-height: $level1-width * 1.3; // 360px
$level0-width: 320px;
$level0-height: $level0-width * 1.3; // 416px


$level-2-left: 183px;
$level-1-left: 23px;
$level0-left: -160px;
$level1-left: -295px;
$level2-left: -407px;


.level-2 {
    height: $level2-height;
    width: $level2-width;
    left: $level-2-left;
    margin-top: 25px;
    opacity: .75;
    z-index: 1030;

}

.level-1 {
    height: $level1-height;
    width: $level1-width;
    left: $level-1-left;
    margin-top: 10px;
    opacity: .9;
    z-index: 1040;
}

.level0 {
    height: $level0-height;
    width: $level0-width;
    left: $level0-left;
    opacity: 1;
    z-index: 1050;
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    margin-top: 10px;
    left: $level1-left;
    opacity: .9;
    z-index: 1040;
}

.level2 {
    height: $level2-height;
    width: $level2-width;
    margin-top: 25px;
    left: $level2-left;
    opacity: .75;
    z-index: 1030;
}

.left-enter {
    opacity: 0;
    left: calc($level2-left - $level2-width);
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 0;
    left: $level2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 0;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: calc($level-2-left + $level2-width + 20);
    opacity: 0;
    height: $level2-height - 30;
    line-height: 120px;
    margin-top: 40px;
    width: $level2-width - 20;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: calc($level-2-left + $level2-width);
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: $level-2-left;
    opacity: 1;
    height: $level2-height;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 1;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
}

.right-leave.right-leave-active {
    left: calc($level2-left - $level2-width);
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

///// modal styles ////

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0;
    margin: -20px 0 0 -20px;
    background-color: transparent;
    z-index: 6;
    width: 100%;

    @include for-tablet-portrait-up {
      margin: 0 0 0 0;
    }

    &__close {
    margin-top: -2px;
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    align-items: flex-start;
    text-align: center;
    display: inline-block;
  }
}