@import 'styles/vars';
@import 'styles/info';
@import 'styles/cssshake';
@import 'styles/carousel';
@import 'styles/big-msg';
@import 'styles/splash';

body {
  background: black;
  color: Lime;
  font-family: 'Roboto Condensed', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 1200px;
  margin: auto;
  // flex-wrap: wrap;
  @include for-tablet-landscape-up {
    flex-wrap: nowrap;
  }
}

.aria-button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-weight: inherit;
  cursor: pointer;

  &:hover, &:active, &:focus {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    font-weight: inherit;
    cursor: pointer;
  }
  }


canvas {
  margin: auto;
  background: hsl(0, 0%, 80%);
}

///// modal styles ////

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 0;
    background-color: transparent;
    z-index: 6;
    width: 100%;

    @include for-tablet-portrait-up {
      margin: 0 0 0 0;
    }

    &__close {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    font-family: inherit;
    text-transform: none;
    overflow: visible;
    margin: 0;
    font: inherit;
    align-items: flex-start;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 20px;
    color: white;
    filter: alpha(opacity=50);
    opacity: .5;
    font-size: 2em;

  }
}

.staircaseSpin {
  -webkit-animation: stspin 2s linear infinite;
    -moz-animation: stspin 2s linear infinite;
    animation: stspin 2s linear infinite;
}

.powerUp {
  -webkit-animation: rainbowglow 1s linear infinite;
    -moz-animation: rainbowglow 1s linear infinite;
    animation: rainbowglow 1s linear infinite;
}

.blink {
  -webkit-animation: blink 2s linear infinite;
    -moz-animation: blink 2s linear infinite;
    animation: blink 2s linear infinite;
}