///// carousel styles /////

#carousel {
    height: 100vh; // was 200
    max-height: 600px;
    width: 600px;
    max-width: 100%;
    margin: auto;

}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  max-height: 480px;

  &:focus {
    outline: 5px;
  }

  &__button:focus {
    .arrow-right {
      border-left: 20px solid white;
      @media (min-width: 340px) {
        border-left: 30px solid white;
      }
    }
    .arrow-left {
      border-right: 20px solid white;
      @media (min-width: 340px) {
        border-right: 30px solid white;
      }
    }
  }

  &__header {
    text-align: center;
    position: absolute;
    top: 40px;
  }

  &__title, &__header {
    text-transform: uppercase;
    font-family: 'G7 Silkworm TTF';
    @include rainbow;
    line-height: 1.1em;
    letter-spacing: 2.5px;
    margin-bottom: 15px;
  }

  &__card {
    border: 1px solid Lime;
    background: black;
    padding: 20px;
    font-weight: 200;
    height: 100%;
    max-height: 480px;
    max-width: 320px;
  }

  &__aliases {
    margin: 10px 0;
    color: Lime;
  }

  &__card-pic {
    border-radius: 100%;
    border: 1px solid white;
    max-width: 80%;
  }

  &__card-pic-wrapper {
  }

  &__card-wrap {
    height: 416px;
    margin: auto;
  }

  &__wrap {
    height: 416px;
    margin: auto;
    position: relative;
  }


}

.level1 .carousel__stats, .level-1 .carousel__stats {
  font-size: .8em;
}

.level1 .carousel__card-pic, .level-1 .carousel__card-pic {
  max-width: 70%;
}

.level2 .carousel__stats, .level-2 .carousel__stats {
  font-size: .6em;
}

.level2 .carousel__card-pic, .level-2 .carousel__card-pic {
  max-width: 60%;
}



.arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    line-height: 30px;
    margin-top: 85px;
    z-index: $z-index-front;
    top: 73px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;

    &__icon {
      color: black !important;
      font-size: 20px;
    }
}

.arrow-right {
  left: 26px;
  top: 338px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid Lime;
  transition: border 300ms ease-in-out;

  &:hover, &:focus {
    border-left: 20px solid white;
  }

  @media (min-width: 340px) {
    left: 156px;
    top: 40px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid Lime;

    &:hover, &:focus {
    border-left: 30px solid white;
  }
  }

  @media (min-width: 690px) {
    left: 312px;
  }

  @include for-tablet-landscape-up {
    left: 422px;
  }
}

.arrow-left {
  left: -40px;
  top: 338px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid Lime;
  transition: all 300ms ease-in-out;

  &:hover, &:focus {
    border-right: 20px solid white;
  }

  @media (min-width: 340px) {
    left: -180px;
    top: 40px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid Lime;

    &:hover, &:focus {
    border-right: 30px solid white;
  }
  }

  @media (min-width: 690px) {
    left: -344px;
  }

  @include for-tablet-landscape-up {
    left: -452px;
  }
}

.item {
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s, background-color 1s;
}

$level2-width: 225px;
$level2-height: $level2-width * 1.3; // 292.5px
$level1-width: 270px;
$level1-height: $level1-width * 1.3; // 360px
$level0-width: 320px;
$level0-height: $level0-width * 1.3; // 416px

$level-2-left: 183px;
$level-1-left: 23px;
$level0-left: -160px;
$level1-left: -295px;
$level2-left: -407px;


.level-2 {
    height: $level2-height;
    width: $level2-width;
    left: $level-2-left;
    margin-top: 25px;
    opacity: 0;
    display: none;
    z-index: $z-index-back;

    @include for-tablet-landscape-up {
      opacity: .75;
      display: block;
    }

}

.level-1 {
    height: $level1-height;
    width: $level1-width;
    left: $level-1-left;
    margin-top: 10px;
    opacity: 0;
    display: none;
    z-index: $z-index-mid;

    @media (min-width: 690px) {
      opacity: .9;
      display: block;
    }
}

.level0 {
    height: $level0-height;
    width: 290px;
    left: -142px;
    opacity: 1;
    z-index: $z-index-front;

    @media (min-width: 690px) {
      width: $level0-width;
      left: $level0-left;
    }
}

.level1 {
    height: $level1-height;
    width: $level1-width;
    margin-top: 10px;
    left: $level1-left;
    display: none;
    z-index: $z-index-mid;

    @media (min-width: 690px) {
      opacity: .9;
      display: block;
    }
}

.level2 {
    height: $level2-height;
    width: $level2-width;
    margin-top: 25px;
    left: $level2-left;
    display: none;
    z-index: $z-index-back;

    @include for-tablet-landscape-up {
      opacity: .75;
      display: block;
    }
}

.left-enter {
    opacity: 0;
    left: calc($level2-left - $level2-width);
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
}

.left-enter.left-enter-active {
    opacity: 0;
    left: $level2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.left-leave {
    opacity: 0;
    left: $level-2-left;
    height: $level2-height;
    width: $level2-width;
    line-height: $level2-height;
    margin-top: 25px;
}

.left-leave.left-leave-active {
    left: calc($level-2-left + $level2-width + 20px);
    opacity: 0;
    height: $level2-height - 30px;
    line-height: 120px;
    margin-top: 40px;
    width: $level2-width - 20px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-enter {
    opacity: 0;
    left: calc($level-2-left + $level2-width);
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
}

.right-enter.right-enter-active {
    left: $level-2-left;
    opacity: 0;
    height: $level2-height;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}

.right-leave {
    left: $level2-left;
    height: $level2-height;
    opacity: 0;
    margin-top: 25px;
    line-height: $level2-height;
    width: $level2-width;
}

.right-leave.right-leave-active {
    left: calc($level2-left - $level2-width);
    opacity: 0;
    height: $level2-height - 30;
    width: $level2-width - 20;
    line-height: $level2-height - 30;
    margin-top: 40px;
    transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s, line-height 1s;
}